*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #3adcfc;
}
.header{
    background: url(images/header.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.topnav{
    overflow: hidden;
    background-color: #7ae2f7;
}
.topnav a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #8bd6f3;
    color: black;
}
.isi-section-barang{
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 20.5%;
    margin-right: 20.5%;
    padding: 0.5%;
    text-align: center;
    background-color: #7ae2f7;
    font-size: 23px;
    border-radius: 3%;
    font-family: 'Overlock', cursive;
}
.deskripsi{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.tombol-pesan{
    background: #c7efff;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    border-radius: 5%;
    text-decoration: none;
    color: black;
}
#copyright{
    text-align: left;
    background-color: #60abc9;
    margin-bottom: 0px;
    width: fit-device-width;
    height: 20px;
    padding: 0px;
    text-align: center;
}