*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #3adcfc;
}
.header{
    background: url(images/header.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.topnav{
    overflow: hidden;
    background-color: #7ae2f7;
}
.topnav a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #8bd6f3;
    color: black;
}
.isi-section-katalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 20px;
}
.product{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10.5%;
    margin-right: 10.5%;
    padding: 2%;
    text-align: center;
    background-color: #8bd6f3;
    font-size: 20px;
    border-radius: 5%;
    color: black;
    font-family: 'Overlock', cursive;
}
.foto-produk{
    margin-right: 3%;
    border-radius: 5%;
}
.tombol{
    background-color: #a3e5ff;
    width: 15%;
    height: 15%;
    border-radius: 5%;
}
#copyright{
    text-align: left;
    background-color: #60abc9;
    margin-bottom: 0px;
    width: fit-device-width;
    height: 20px;
    padding: 0px;
    text-align: center;
}